[Desktop Entry]
Name=dwm
Comment=This session logs you into dwm environment
Exec=/usr/local/bin/dwm
TryExec=/usr/local/bin/dwm
Type=Application
DesktopNames=dwm
X-GDM-SessionRegisters=true
